@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');
body{
    margin:0;
    padding:0;
    font-family: 'Montserrat', sans-serif;
    display: grid;
}

.boutonmenuprincipal {
    text-decoration: none;
    color: #000;
    margin-right: 10px;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
    position: relative;
}
.boutonmenuprincipal:hover {
background-color: #fff;
}
.dropdown {
position: relative;
display: inline-block;
}
.dropdown-child {
display: none;
background-color: #fff;
min-width: 50px;
position:absolute;
}
.dropdown-child a {
color: white;
padding: 10px;
text-decoration: none;
display: block;
}
.dropdown:hover .dropdown-child {
display: block;
}

nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid #6f6f6f;
    position: fixed;
    background-color: #fff;
    width: 100%;
    margin-top: 0;
}
nav h1 {
    color: #717171;
    font-family: 'Playfair Display', sans-serif;
    font-size: 30px;
}
nav .onglets{
    margin-left: 500px;
}
nav .onglets a{
    text-decoration: none;
    color: #000;
    margin-right: 10px;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
}
nav button{
    margin-left:-2px;
    border: none;
    font-size: 12px;
    font-family: 'Playfair Display', sans-serif;
    cursor: pointer;
    background-color: black;
    color: #fff;
    text-decoration:none;
    margin-top: 10px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: start;
    background-image: url('https://www.algam-webstore.fr/media/page/header_background/header-clavier.jpg');
    background-size: cover;
    color: #ffffff;
    padding: 40px;
    margin-top: 90px;
}
header h1{
    font-family: 'Playfair Display', sans-serif;
    font-size: 50px;
}
header h4{
    margin-top: -20px;
    font-size: 20px;
    text-align: center;
    border-bottom: 1px solid #fff;
}
header button {
    padding: 10px 20px;
    background-color: #fff;
    color: #000;
    border: none;
    font-size: 20px;
    font-family: 'Playfair Display', sans-serif;
    outline: none;
    cursor: pointer;
}
header button a{
    text-decoration: none;
    color: black;
    font-family: 'Playfair Display', sans-serif;
    font-size: 20px;
}
.main .cards .card button{
    cursor: pointer;
}
.main{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main .content .card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom:20px;
}
.main .content .card .left{
   flex: 0 0 30%;
   padding: 20px;
   background-color:black;
   color:#fff;
}
.main .content .card .right img{
    height:300px;
    width: 400px;
    margin-top: 5px;
}
footer{
    margin-top: 40px;
    border-top: 5px solid #6f6f6f;
    background-color: rgb(0, 0, 0);
    color: #fff;
    padding: 30px 100px;;
}
footer h1{
    font-family: 'Playfair Display', serif;
    border-bottom: 1px solid white;
    width: 20%;
    padding-bottom: 5px;
}
footer .services{
    margin-top: -10px;
    display:flex;
    flex-wrap:wrap;
}
footer .services .service{
    margin-right: 30px;
}
footer .services .service p{
    max-width: 300px;
}
footer #contact{
    color: rgb(181, 181, 181);
}

@media screen and (max-width:1200px) {
    nav h1{
        position: relative;
    }
    nav .onglets {
        margin-left: auto;
        margin-right: auto;
        float: none;
    }
    nav button{
        font-size: 10px;
    }

    .main .content .card {
        display: block;
    }

    footer {
        padding: 30px;
        flex-wrap: wrap;
    }
}
@media screen and (max-width:600px) {
    nav h1{
        position: relative;
    }
    nav .onglets {
        margin-left: auto;
        margin-right: auto;
        float: none;
        font-size: 60%;
        padding-bottom:10px;
    }
    .main .content .card .right img{
    height:100%;
    width: 100%;
    }
    nav button{
        font-size: 80%;
    }

    .main .content .card {
        display: block;
    }
